* {
  font-family: 'Inknut Antiqua', serif;
  font-size: 16px;
  /*font-family: 'Arvo', serif;
  font-family: 'Merriweather', serif;
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Vollkorn', serif;
  font-family: 'Volkhov', serif;
  font-family: 'Artifika', serif;
  font-family: 'Marko One', serif;
  font-family: 'Laila', serif;
  font-family: 'Supermercado One', cursive;*/
}
.dib {
  line-height: 1.2;
}
.proj-link {
  display: inline-block;
  line-height: 1;
}
