* {
  font-family: 'Inknut Antiqua', serif;
  /*font-family: 'Arvo', serif;
  font-family: 'Merriweather', serif;
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Vollkorn', serif;
  font-family: 'Volkhov', serif;
  font-family: 'Artifika', serif;
  font-family: 'Marko One', serif;
  font-family: 'Laila', serif;
  font-family: 'Supermercado One', cursive;*/
}
